<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game ON!</title>
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/header.css">
	<link rel="stylesheet" href="/public/css/components/header_button.css">
	<link rel="stylesheet" href="/public/css/components/header_bar.css">
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
	<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
	<header class="header">
		<a class="header__logo" href="#">
			<img class="header__logo-img" src="/public/img/logo_final.jpg">
		</a>
		<!-- <img class="header__logo-img" src="/public/img/logo_final.jpg"> -->
		<ul class="header__buttons">
			<li>
				<a class="header__button" href="#">Productos</a>
			</li>
			<li>
				<a class="header__button" href="#">Arma tu PC</a>
			</li>
			<li>
				<input class="header__search-bar" type="text" placeholder="Buscar...">
			</li>
		</ul>
		<ul class="header__buttons">
			<li>
				<a class="header__button" href="#">Ingresar</a>
			</li>
			<li>
				<a class="header__button" href="#">Mi Carrito</a>
			</li>
		</ul>
	</header>
	<div class="header__bar"></div>
</body>

</html>